
body {
  margin: 0;
}
.btn-success{
  background-color: white;
}
.container{
  padding: 5% 
}

.card {
  padding: 20px;
  background-color: coral;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
}

.input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  margin-bottom: 12px;
  background-color: 'coral';
}

input {
  border: none;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f3f3f3;
  width: 100%;
}

.shadow{
  -webkit-box-shadow: -1px 0px 24px 0px rgba(66, 68, 90, 0.43);
-moz-box-shadow: -1px 0px 24px 0px rgba(66, 68, 90, 0.43);
box-shadow: -1px 0px 24px 0px rgba(66, 68, 90, 0.43);
}